@model IMRequisitionSystem.Models.Assets.RequisitionRequestModel

@{
    ViewBag.Title = "DetailPageForAlocator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>

    .svg-icon svg {
        fill: white !important
    }

        .svg-icon svg g [fill] {
            fill: white !important
        }

    .max-width-300 {
        max-width: 300px; /* Limit the width to 100px */
        white-space: pre-wrap; /* Prevent text wrapping */
        overflow: auto; /* Hide overflow text */
        text-overflow: ellipsis; /* Add ellipsis (...) for overflow text */
    }
</style>

<div class="d-flex flex-column-fluid">
    <div class="container-fluid">


        <div class="card card-custom gutter-b" style="border-radius:25px">
            <div class="card-body p-0">
                <!-- begin: Invoice-->
                <!-- begin: Invoice header-->
                <div class="row justify-content-center py-8 px-8 py-md-18 px-md-0">
                    <div class="col-md-10">
                        <div class="d-flex justify-content-between flex-column flex-md-row">
                            <h1 class="display-4 font-weight-boldest mb-10">REQUISITION DETAILS</h1>
                            <div class="d-flex flex-column align-items-md-end px-0">
                                <button id="btn_back" class="btn btn-primary font-weight-bolder" onclick="history.back()">
                                    Back
                                </button>
                            </div>
                        </div>
                        <div class="border-bottom w-100"></div>
                        <div class="d-flex justify-content-between pt-6">
                            <div class="d-flex flex-column flex-root">
                                <span class="font-weight-bolder mb-2">REQUESTOR LOCATION</span>
                                <span class="opacity-70">@Model.Requestor_Department</span>
                            </div>

                            <div class="d-flex flex-column flex-root">
                                <span class="font-weight-bolder mb-2">USE LOCATION</span>
                                <span class="opacity-70">@Model.Use_Location</span>
                            </div>
                            <div class="d-flex flex-column flex-root">
                                <span class="font-weight-bolder mb-2">USE DEPARTMENT</span>
                                <span class="opacity-70">@Model.Use_Department_Name</span>
                            </div>


                        </div>


                        <div class="d-flex justify-content-between pt-6">
                            <div class="d-flex flex-column flex-root">
                                <span class="font-weight-bolder mb-2">REQUISITION FOR</span>
                                <span class="opacity-70">@Model.RequisitionFor</span>
                            </div>

                            <div class="d-flex flex-column flex-root">
                                <span class="font-weight-bolder mb-2">PURPOSE OF REQUISITION</span>
                                <span class="opacity-70">
                                    @Model.Purpose_Of_Use
                                </span>
                            </div>
                            <div class="d-flex flex-column flex-root">

                            </div>
                        </div>


                        <div class="d-flex justify-content-between pt-6">
                            <div class="d-flex flex-column flex-root">
                                <span class="font-weight-bolder mb-2">REQUISITION FOR</span>
                                <span class="opacity-70">Self</span>
                            </div>

                            <div class="d-flex flex-column flex-root">
                                <span class="font-weight-bolder mb-2">PURPOSE OF REQUISITION</span>
                                <span class="opacity-70">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididun
                                </span>
                            </div>
                            <div class="d-flex flex-column flex-root">
                                <span class="font-weight-bolder mb-2">ISSUED ASSET</span>
                                <span class="opacity-70">AS-NRL-0001</span>
                            </div>


                        </div>

                    </div>
                </div>
                <!-- end: Invoice header-->
                <!-- begin: Invoice body-->
                <div class="row justify-content-center bg-gray-100 py-8 px-8 py-md-10 px-md-0  mx-0" style="border-radius:25px;">
                    <div class="col-md-10">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="pl-0 font-weight-bold text-muted text-uppercase">Activity</th>
                                        <th class="text-right font-weight-bold text-muted text-uppercase">Username</th>
                                        <th class="text-right font-weight-bold text-muted text-uppercase">Designation</th>
                                        <th class="text-right font-weight-bold text-muted text-uppercase">Date</th>
                                        <th class="text-left pr-0 font-weight-bold text-muted text-uppercase max-width-300">Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="font-weight-boldest">
                                        <td class="border-0 pl-0 pt-7 d-flex align-items-center">
                                            Requisitioner
                                        </td>
                                        <td class="text-right pt-7 align-middle">@Model.Requestor_Name</td>
                                        <td class="text-right pt-7 align-middle">@Model.Requestor_Designation</td>
                                        <td class="text-right pt-7 align-middle">@Model.Requisition_Date</td>
                                        <td class="text-left pr-0 pt-7 align-middle max-width-300">@Model.Purpose_Of_Use</td>
                                    </tr>
                                    <tr class="font-weight-boldest border-bottom-0">
                                        <td class="border-top-0 pl-0 py-4 d-flex align-items-center">
                                            Approver HOD/Unit In-Charge
                                        </td>
                                        <td class="text-right pt-7 align-middle">@Model.Approver_Name</td>
                                        <td class="text-right pt-7 align-middle">@Model.Approver_Designation</td>
                                        <td class="text-right pt-7 align-middle">@Model.Approve_DateTime</td>
                                        <td class="text-left pr-0 pt-7 align-middle max-width-300">@Model.Approver_Comment</td>

                                        @*<td class="border-top-0 text-right py-4 align-middle">Anjan Kumar Bora</td>
                                                <td class="border-top-0 text-right py-4 align-middle">DGM</td>
                                                <td class="text-right border-top-0 py-4 align-middle">24 May 2024 01:22 PM</td>
                                                <td class="text-right pr-0 pt-7 align-middle">Lorem ipsum dolor sit amet</td>
                                            </tr>
                                            <tr class="font-weight-boldest border-bottom-0">
                                                <td class="border-top-0 pl-0 py-4 d-flex align-items-center">
                                                    Hotel Executive
                                                </td>
                                                <td class="border-top-0 text-right py-4 align-middle">
                                                    <span class="badge badge-warning py-2 font-weight-bolder px-10 " style="width: 100px">Pending</span>
                                                </td>
                                                <td class="border-top-0 text-right py-4 align-middle">--</td>
                                                <td class="text-right border-top-0 py-4 align-middle">--</td>
                                                <td class="text-right pr-0 pt-7 align-middle">--</td>
                                            </tr>*@
                                    </tr>
                                    <tr class="font-weight-boldest">
                                        <td class="border-0 pl-0 pt-7 d-flex align-items-center">
                                            IM Approver
                                        </td>
                                        <td class="text-right pt-7 align-middle">@Model.IM_Approver_Name</td>
                                        <td class="text-right pt-7 align-middle">@Model.IM_Approver_Designation</td>
                                        <td class="text-right pt-7 align-middle">@Model.IM_Approve_DateTime</td>
                                        <td class="text-left pr-0 pt-7 align-middle max-width-300">@Model.IM_Approver_Comment</td>
                                    </tr>
                                    <tr class="font-weight-boldest">
                                        <td class="border-0 pl-0 pt-7 d-flex align-items-center">
                                            IM Issuer
                                        </td>
                                        <td class="text-right pt-7 align-middle">@Model.IM_Issuer_Name</td>
                                        <td class="text-right pt-7 align-middle">@Model.IM_Issuer_Designation</td>
                                        <td class="text-right pt-7 align-middle">@Model.IM_Issued_DateTime</td>
                                        <td class="text-left pr-0 pt-7 align-middle max-width-300">@Model.IM_Issuer_Comment</td>
                                    </tr>
                                    <tr class="font-weight-boldest">
                                        <td class="border-0 pl-0 pt-7 d-flex align-items-center">
                                            IM Workshop
                                        </td>
                                        <td class="text-right pt-7 align-middle">--</td>
                                        <td class="text-right pt-7 align-middle">--</td>
                                        <td class="text-right pt-7 align-middle">--</td>
                                        <td class="text-left pr-0 pt-7 align-middle max-width-300"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end: Invoice body-->
                <!-- begin: Invoice footer-->
                @*<div class="row justify-content-center bg-gray-100 py-8 px-8 py-md-10 px-md-0 mx-0">
                        <div class="col-md-10">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="font-weight-bold text-muted text-uppercase">PAYMENT TYPE</th>
                                            <th class="font-weight-bold text-muted text-uppercase">PAYMENT STATUS</th>
                                            <th class="font-weight-bold text-muted text-uppercase">PAYMENT DATE</th>
                                            <th class="font-weight-bold text-muted text-uppercase text-right">TOTAL PAID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="font-weight-bolder">
                                            <td>Credit Card</td>
                                            <td>Success</td>
                                            <td>Jan 07, 2020</td>
                                            <td class="text-primary font-size-h3 font-weight-boldest text-right">$789.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>*@
                <!-- end: Invoice footer-->
                <!-- begin: Invoice action-->
                <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                    <div class="col-md-10">
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-danger font-weight-bold" data-toggle="modal" data-target="#rejectRequest">
                                <span class="svg-icon svg-icon-white svg-icon-2x">
                                    <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Electric\Shutdown.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path d="M7.62302337,5.30262097 C8.08508802,5.000107 8.70490146,5.12944838 9.00741543,5.59151303 C9.3099294,6.05357769 9.18058801,6.67339112 8.71852336,6.97590509 C7.03468892,8.07831239 6,9.95030239 6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,9.99549229 17.0108275,8.15969002 15.3875704,7.04698597 C14.9320347,6.73472706 14.8158858,6.11230651 15.1281448,5.65677076 C15.4404037,5.20123501 16.0628242,5.08508618 16.51836,5.39734508 C18.6800181,6.87911023 20,9.32886071 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 C4,9.26852332 5.38056879,6.77075716 7.62302337,5.30262097 Z" fill="#000000" fill-rule="nonzero" />
                                            <rect fill="#000000" opacity="0.3" x="11" y="3" width="2" height="10" rx="1" />
                                        </g>
                                    </svg><!--end::Svg Icon-->
                                </span>
                                Short Close
                            </button>
                        </div>
                    </div>
                </div>
                <!-- end: Invoice action-->
                <!-- end: Invoice-->
            </div>
        </div>



    </div>
</div>

<div class="modal fade" id="rejectRequest" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold">Reason For Short Close</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <label class="font-weight-bold">Reason:</label>
                    <div class="form-group">
                        <textarea class="form-control form-control-solid" rows="3" required></textarea>
                    </div>
                    <span class="form-text" style="color:red;">This is a required field.</span>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="rejectRequestHOD">Submit</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal-->


<div class="modal fade" id="revertRequest" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold">Reason For Reverting</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <label class="font-weight-bold">Reason:</label>
                    <div class="form-group">
                        <textarea class="form-control form-control-solid" rows="3" required></textarea>
                    </div>
                    <span class="form-text" style="color:red;">This is a required field.</span>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="rejectRequestHOD">Submit</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal-->


<script>


    $("#approveButton").click(function (e) {
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Approve"
        }).then(function (result) {
            if (result.value) {
                Swal.fire(
                    "Approved",
                    "Requisition has been approved successfully",
                    "success"
                )
            }
        });
    });

    $("#rejectRequestHOD").click(function (e) {
        Swal.fire("Done", "Request has been recalled successfully", "success");
    });

</script>



