@model IMRequisitionSystem.Models.Assets.RequisitionRequestModel
@{
    ViewBag.Title = "RequisitionRequestListIMApprover";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>
    <base href="../../../">
    <meta charset="utf-8" />

    <link rel="canonical" href="https://keenthemes.com/metronic" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="~/lib/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="~/lib/assets/media/logos/favicon.ico" />
</head>




<div class="card card-custom card-sticky" id="kt_page_sticky_card" style="border-radius:20px;">

    <div class="card-header">

        <div class="card-title">

            <h2 class="card-label roboto-bold font-weight-bolder font-size-h2-lg">

                <span> REQUISITION LIST</span>

            </h2>

        </div>
    </div>

    <div class="card-body">
        <div class="card-body">


            <table class="table table-bordered table-checkable" id="IM_datatable">
                <thead>
                    <tr>
                        <th>Sl No:</th>
                        <th>Requisition ID </th>
                        <th>Requisition By </th>
                        <th>Requisition Date </th>
                        <th>Type of Device </th>
                        <th>Use Location </th>
                        <th>Use Department </th>
                        <th>Requestor Department </th>
                        <th>Requisition For</th>
                        <th>Requisition Status</th>
                        <th>Action</th>


                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1; }
                    @foreach (var item in ViewBag.RequisitionIMApproveDataDD)
                    {
                        <tr>

                            <td>@i</td>
                            <td>@item.Requisition_No</td>
                            <td>@item.Requestor_Name</td>
                            <td>@item.Requisition_Date</td>
                            <td>@item.DeviceName</td>
                            <td>@item.Use_Location</td>
                            <td>@item.Use_Department_Name</td>
                            <td>@item.Requestor_Department</td>
                            <td>@item.Purpose_Of_Use</td>
                            <td><span class="label label-lg label-inline label-light-warning font-weight-bold">@item.Requisition_Status</span></td>

                            <td><button type="button" id="btnViewDetails" name="btnViewDetails" class="btn btn-primary btn-block mr-2 mb-1" onclick="GoToViewDetailsPage('@item.Requisition_No')">View Details</button>'</td>

                        </tr>
                        i++;
                    }
                </tbody>
            </table>

        </div>
    </div>



</div>



<script src="~/lib/assets/plugins/global/plugins.bundle.js"></script>
<script src="~/lib/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
<script src="~/lib/assets/js/scripts.bundle.js"></script>
<script src="~/lib/assets/plugins/custom/datatables/datatables.bundle.js"></script>
<script>
    var table = $('#IM_datatable');
    table.DataTable({
        responsive: true,
        pagingType: 'full_numbers',
        order: [],
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ],
        lengthMenu: [
            [10, 25, 50, 100, -1],
            ['10 rows', '25 rows', '50 rows', '100 rows', 'Show all']
        ]
    });
    table.init();
</script>

<script>
    function ViewDetails() {
        window.location.href = '@Url.Action("DetailsPageForIMApprover", "Home")';
    }
</script>

<script>
    @*function GoToViewDetailsPage() {
        window.location.href = '@Url.Action("DetailsPageForHODUnitInCharge", "Approver")';
    }*@


    function GoToViewDetailsPage(requisition_No) {
        debugger;
    $.ajax({
        url: "@Url.Action("SetSession","Common")",
        type: 'POST',
        data: { key: "requisition_No", requisition_No: requisition_No },
        success: function (response) {

            if (response.success) {
                //var url = $('base').attr('href') + "DetailsPageForHODUnitInCharge";
                var url ='@Url.Action("DetailsPageForIMApprover", "Approver")';
            window.location.href = url;
            }
        },
        error: function () {
        }
        });
        }

</script>

