@model IMRequisitionSystem.Models.Assets.AssetsModel
@{
    ViewBag.Title = "ReturnReceiveReceivedList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <base href="../../../">
    <meta charset="utf-8" />

    <link rel="canonical" href="https://keenthemes.com/metronic" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="~/lib/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="~/lib/assets/media/logos/favicon.ico" />
</head>



<div class="card card-custom card-sticky" id="kt_page_sticky_card" style="border-radius:20px;">

    <div class="card-header">

        <div class="card-title d-flex justify-content-between align-items-center w-100">

            <div class="card-title">

                <h2 class="card-label roboto-bold font-weight-bolder font-size-h2-lg">

                    <span> RETURN REQUEST RECEIVED LIST</span>

                </h2>

            </div>

        </div>

    </div>

    <div class="card-body">
        <div class="card-body">
            <table class="table table-bordered table-checkable" id="IM_datatable">
                <thead>
                    <tr>
                        <th>Sl No</th>
                        <th>Return Request No</th>
                        <th>Return Requestor Name</th>
                        <th>Return Request Date</th>
                        <th>Return Requestor Department </th>

                        <th>Asset ID</th>
                        <th>Asset Serial No</th>

                        <th>Request Status</th>
                        <th>Return Comment</th>
                        

                    </tr>
                </thead>
                <tbody>

                    @{ int i = 1; }
                    @foreach (var item in ViewBag.AssetMasterDataDD)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.Return_Request_ID</td>
                            <td>@item.Return_Requestor_Name</td>
                            <td>@item.Return_Request_Date</td>
                            <td>@item.Return_Requestor_Department</td>
                            <td>@item.Asset_Code_System</td>
                            <td>@item.Asset_Serial_No</td>


                            <td>
                                <span class="label label-inline label-light-warning font-weight-bold">
                                    @item.Returned_Request_Status
                                </span>
                            </td>
                            <td>@item.Return_Comment</td>
                           

                        </tr>
                        i++;
                    }
                </tbody>
            </table>

        </div>
    </div>




</div>



<script src="~/lib/assets/plugins/global/plugins.bundle.js"></script>
<script src="~/lib/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
<script src="~/lib/assets/js/scripts.bundle.js"></script>
<script src="~/lib/assets/plugins/custom/datatables/datatables.bundle.js"></script>
<script>
    var table = $('#IM_datatable');
    table.DataTable({
        responsive: true,
        pagingType: 'full_numbers',
        order: [],
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ],
        lengthMenu: [
            [10, 25, 50, 100, -1],
            ['10 rows', '25 rows', '50 rows', '100 rows', 'Show all']
        ]
    });
    table.init();
</script>

<script>
    $('#assetCondition').select2({
        placeholder: "Select Asset Condition"
    });
</script>
<script>
    function ViewDetails() {
        window.location.href = '@Url.Action("ReturnReceiveReceivedDetailsPage", "Home")'
    }
</script>











